button {
    border: none;
    background: transparent;
    color: var(--header-text-color);
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 15px;

    .buttonContent {
        display: flex;
        align-items: center;

        svg {
            margin-left: 10px;
        }
    }
}

button:hover {
    cursor: pointer;
    color: black;
}


.green {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--button-success);
}

.red {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--button-error);
}

.yellow {
    border-radius: 5px;
    color: white;
    border: none;
    background-color: var(--button-warn);
}

.green:active, .red:active, .yellow:active {
    border: none;
}

.green:hover, .red:hover, .yellow:hover {
    color: white;
}