.dropDown {
    margin-bottom: 20px;
}

.cluster,
.monitor,
.email {
    .tableButton {
        margin-top: 10px;
        text-align: end;
    }
}

.cluster {
    .tableButton {
        margin-top: 10px;
        text-align: end;
    }

    svg {
        cursor: pointer;
    }

    .addClusterModal {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: auto;
        div {
            margin-bottom: 20px;
        }
        input {
            width: 95%;
        }
    }

    .modalButton {
        text-align: end;
        button {
            margin-right: 10px;
        }       
    }
}

.email {
    form {
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}