table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    thead {
        th {
            padding: 20px;

            svg {
                position: relative;
                top: 3px;
                left: 5px;
                cursor: pointer;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 20px;
            }
        }
    }
}

.odd {
    background-color: var(--background-color);
}

.even {
    background-color: white;
}